<!-- Validation failure messages -->
<% if @listing_photo.errors.any? %>
  <% @listing_photo.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Listing Photo #<%= @listing_photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_listing_photo/<%= @listing_photo.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title, @listing_photo.listing_id), :class => "form-control") %>
      </div>

      <!-- Label and input for photos -->
      <div class="form-group">
        <label for="photos" class="control-label">
          Photos
        </label>

        <input type="text" id="photos" name="photos" placeholder="Photos" class="form-control" value="<%= @listing_photo.photos %>">
      </div>

      <button class="btn btn-warning">
        Update Listing Photo
      </button>
      or
      <a href="/listing_photos/<%= @listing_photo.id %>">Cancel</a>
    </form>
  </div>
</div>
