<!-- Validation failure messages -->
<% if @listing_review.errors.any? %>
  <% @listing_review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Listing Review #<%= @listing_review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_listing_review/<%= @listing_review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review_body -->
      <div class="form-group">
        <label for="review_body" class="control-label">
          Review body
        </label>

        <textarea id="review_body" name="review_body" placeholder="Review body" class="form-control" rows="3"><%= @listing_review.review_body %></textarea>
      </div>

      <!-- Label and input for accuracy -->
      <div class="form-group">
        <label for="accuracy" class="control-label">
          Accuracy
        </label>

        <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control" value="<%= @listing_review.accuracy %>">
      </div>

      <!-- Label and input for communications -->
      <div class="form-group">
        <label for="communications" class="control-label">
          Communications
        </label>

        <input type="text" id="communications" name="communications" placeholder="Communications" class="form-control" value="<%= @listing_review.communications %>">
      </div>

      <!-- Label and input for cleanliness -->
      <div class="form-group">
        <label for="cleanliness" class="control-label">
          Cleanliness
        </label>

        <input type="text" id="cleanliness" name="cleanliness" placeholder="Cleanliness" class="form-control" value="<%= @listing_review.cleanliness %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @listing_review.location %>">
      </div>

      <!-- Label and input for check_in -->
      <div class="form-group">
        <label for="check_in" class="control-label">
          Check in
        </label>

        <input type="text" id="check_in" name="check_in" placeholder="Check in" class="form-control" value="<%= @listing_review.check_in %>">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="<%= @listing_review.value %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, @listing_review.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <input type="text" id="listing_id" name="listing_id" placeholder="Listing" class="form-control" value="<%= @listing_review.listing_id %>">
      </div>

      <button class="btn btn-warning">
        Update Listing Review
      </button>
      or
      <a href="/listing_reviews/<%= @listing_review.id %>">Cancel</a>
    </form>
  </div>
</div>
