<div class="page-header">
  <h1>
    Listing reviews
    <a href="/listing_reviews/new" class="btn btn-lg btn-success">New Listing review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Review body</th>
        <th>Accuracy</th>
        <th>Communications</th>
        <th>Cleanliness</th>
        <th>Location</th>
        <th>Check in</th>
        <th>Value</th>
        <th>User</th>
        <th>Listing</th>
        <th>Actions</th>
      </tr>

      <% @listing_reviews.each do |listing_review| %>
      <tr>
        <td><%= listing_review.review_body %></td>
        <td><%= listing_review.accuracy %></td>
        <td><%= listing_review.communications %></td>
        <td><%= listing_review.cleanliness %></td>
        <td><%= listing_review.location %></td>
        <td><%= listing_review.check_in %></td>
        <td><%= listing_review.value %></td>
        <td><%= listing_review.user.name %></td>
        <td><%= listing_review.listing.title %></td>
        <td>
          <a href="/listing_reviews/<%= listing_review.id %>" class="btn btn-primary">Show</a>
          <a href="/listing_reviews/<%= listing_review.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_listing_review/<%= listing_review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
