<div class="page-header">
  <h3>Policy #<%= @policy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Listing</dt>
      <dd><%= @policy.listing_id %></dd>

      <dt>Checkin time</dt>
      <dd><%= @policy.checkin_time %></dd>

      <dt>Smoking</dt>
      <dd><%= @policy.smoking %></dd>

      <dt>Dogs allowed</dt>
      <dd><%= @policy.dogs_allowed %></dd>

      <dt>Cats allowed</dt>
      <dd><%= @policy.cats_allowed %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/policies" class="btn btn-primary">
        Back
      </a>
      <a href="/policies/<%= @policy.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_policy/<%= @policy.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
